h1 {
    font-family: "Droid Sans Mono";
}
h2 {
    font-family: "Droid Sans Mono";
}
h3 {
    font-family: "Droid Sans Mono";
}
h4 {
    font-family: "Droid Sans Mono";
}
p {
    font-family: "Droid Sans Mono";
}
blockquote {
    font-family: "Droid Sans Mono";
}
pre {
    font-family: "Droid Sans Mono";
}
a {
    font-family: "Droid Sans Mono";
}